In [1]:
# Import of required modules
import numpy as np
import pandas as pd
import datetime
import gc

In [2]:
# Customized function for loading train/test data and applying correct data transformations
def load_df_main(path, **kwargs):
    df = pd.read_csv(path, **kwargs)
    
    df["first_active_month"] = pd.to_datetime(df["first_active_month"])
    
    categories = ["feature_1", "feature_2", "feature_3"]
    for feature in categories:
        df[feature] = df[feature].astype("category")
        
    return df

In [3]:
# Load train data
train = load_df_main("../input/train.csv")

In [4]:
train.head()

  first_active_month          card_id    ...    feature_3    target
0         2017-06-01  C_ID_92a2005557    ...            1 -0.820283
1         2017-01-01  C_ID_3d0044924f    ...            0  0.392913
2         2016-08-01  C_ID_d639edf6cd    ...            0  0.688056
3         2017-09-01  C_ID_186d6a6901    ...            0  0.142495
4         2017-11-01  C_ID_cdbd2c0db2    ...            0 -0.159749

[5 rows x 6 columns]

In [5]:
train.describe(include="all")

         first_active_month      ...               target
count                201917      ...        201917.000000
unique                   75      ...                  NaN
top     2017-09-01 00:00:00      ...                  NaN
freq                  13878      ...                  NaN
first   2011-11-01 00:00:00      ...                  NaN
last    2018-02-01 00:00:00      ...                  NaN
mean                    NaN      ...            -0.393636
std                     NaN      ...             3.850500
min                     NaN      ...           -33.219281
25%                     NaN      ...            -0.883110
50%                     NaN      ...            -0.023437
75%                     NaN      ...             0.765453
max                     NaN      ...            17.965068

[13 rows x 6 columns]

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
first_active_month    201917 non-null datetime64[ns]
card_id               201917 non-null object
feature_1             201917 non-null category
feature_2             201917 non-null category
feature_3             201917 non-null category
target                201917 non-null float64
dtypes: category(3), datetime64[ns](1), float64(1), object(1)
memory usage: 5.2+ MB

In [7]:
# Load test data
test = load_df_main("../input/test.csv")

In [8]:
test.head()

  first_active_month          card_id feature_1 feature_2 feature_3
0         2017-04-01  C_ID_0ab67a22ab         3         3         1
1         2017-01-01  C_ID_130fd0cbdd         2         3         0
2         2017-08-01  C_ID_b709037bc5         5         1         1
3         2017-12-01  C_ID_d27d835a9f         2         1         0
4         2015-12-01  C_ID_2b5e3df5c2         5         1         1

In [9]:
test.describe(include="all")

         first_active_month          card_id    ...      feature_2  feature_3
count                123622           123623    ...       123623.0   123623.0
unique                   75           123623    ...            3.0        2.0
top     2017-09-01 00:00:00  C_ID_fa2ff19bbf    ...            1.0        1.0
freq                   8805                1    ...        54775.0    69770.0
first   2011-11-01 00:00:00              NaN    ...            NaN        NaN
last    2018-01-01 00:00:00              NaN    ...            NaN        NaN

[6 rows x 5 columns]

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123623 entries, 0 to 123622
Data columns (total 5 columns):
first_active_month    123622 non-null datetime64[ns]
card_id               123623 non-null object
feature_1             123623 non-null category
feature_2             123623 non-null category
feature_3             123623 non-null category
dtypes: category(3), datetime64[ns](1), object(1)
memory usage: 2.2+ MB

In [11]:
# Customized function for loading historical_transactions / new_merchant_transactions
def load_df_transactions(path, **kwargs):
    df = pd.read_csv(path, **kwargs)
    
    # Apply correct data types to features
    df["purchase_date"] = pd.to_datetime(df["purchase_date"])
    categories = ["authorized_flag", "city_id", "category_1", "category_3", "merchant_category_id", "state_id", "subsector_id"]
    for feature in categories:
        df[feature] = df[feature].astype("category")

    strings = ["card_id", "merchant_id"]
    for feature in strings:
        df[feature] = df[feature].astype("str")

    ints = ["month_lag", "installments"]
    for feature in ints:
        df[feature] = df[feature].astype("int16")

    floats = ["purchase_amount"]
    for feature in floats:
        df[feature] = df[feature].astype("float32")
    
    # Fill missing values with most dominant value
    df["category_2"].fillna(1.0,inplace=True)
    df["category_2"] = df["category_2"].astype("str").apply(lambda x: x[:1] if x != "nan" else x).astype("category") #workaround to transform e.g. 1.0000 to 1
    df["category_3"].fillna("A",inplace=True)
    df["merchant_id"].fillna("M_ID_00a6ca8a8a",inplace=True)
    
    return df

## Feature Engineering

In [12]:
# Add new features to historical_transactions / new_merchant_transactions
def add_features_transactions(df):
    df["purchase_year"] = df["purchase_date"].dt.year
    df["purchase_weekofyear"] = df["purchase_date"].dt.weekofyear
    df["purchase_month"] = df["purchase_date"].dt.month
    df["purchase_dayofweek"] = df["purchase_date"].dt.dayofweek
    df["purchase_weekend"] = (df.purchase_date.dt.weekday >=5).astype(int)
    df["purchase_hour"] = df["purchase_date"].dt.hour
    df["authorized_flag"] = df["authorized_flag"].map({"Y":1, "N":0}) # Map into binary
    df["category_1"] = df["category_1"].map({"Y":1, "N":0}) # Map into binary
    df["month_diff"] = ((datetime.datetime.today() - df["purchase_date"]).dt.days)//30
    df["month_diff"] += df["month_lag"]
    df = pd.get_dummies(df, columns=["category_2", "category_3"]) # Get dummy variables for category
    
    return df

In [13]:
# Aggregate features from historical_transactions / new_merchant_transactions
def aggregate_transactions(df, prefix):
    
    aggs = {}
    aggs["purchase_date"] = ["max","min"]
    aggs["month_diff"] = ["mean"]
    aggs["card_id"] = ["size"]
    
    for col in ["purchase_amount", "installments", "month_lag"]:
        aggs[col] = ["sum","max","min","mean","var"]
        
    for col in ["authorized_flag", "purchase_weekend", "category_1", "category_2_1", "category_2_2", "category_2_3", "category_2_4", "category_2_5", "category_3_A", "category_3_B", "category_3_C"]:
        aggs[col] = ["sum", "mean"]
        
    for col in ["purchase_year", "purchase_weekofyear", "purchase_month", "purchase_dayofweek", "purchase_hour", "subsector_id", "merchant_id", "merchant_category_id"]:
        aggs[col] = ["nunique"]
    
    df_agg = df.groupby("card_id").agg(aggs)
    
    df_agg.columns = [prefix + "_" + "_".join(column_pair) for column_pair in df_agg.columns.ravel()] # Rename columns with respective dataframe name
    df_agg.reset_index(inplace=True)
    
    return df_agg

In [14]:
# Load historical_transactions data set
hist = load_df_transactions("../input/historical_transactions.csv")

In [15]:
hist = add_features_transactions(hist)

In [16]:
aggregated_transactions = aggregate_transactions(hist, "hist")
train = pd.merge(train, aggregated_transactions, on='card_id', how='left')
test = pd.merge(test, aggregated_transactions, on='card_id', how='left')
del aggregated_transactions # del for memory savings
del hist # del for memory savings
gc.collect()

184

In [17]:
# Load new_merchant_transactions data set
new = load_df_transactions("../input/new_merchant_transactions.csv")

In [18]:
new = add_features_transactions(new)

In [19]:
aggregated_transactions = aggregate_transactions(new, "new")
train = pd.merge(train, aggregated_transactions, on='card_id', how='left')
test = pd.merge(test, aggregated_transactions, on='card_id', how='left')
del aggregated_transactions # delete for memory savings
del new # delete for memory savings
gc.collect()

182

In [20]:
# Add additional features to the train/test data frames
def add_features_main(df):
    df["year"] = df["first_active_month"].dt.year.astype("category")
    df["weekofyear"] = df["first_active_month"].dt.weekofyear.astype("category")
    df["month"] = df["first_active_month"].dt.month.astype("category")
    df["elapsed_time"] = (datetime.date(2018, 2, 1) - df["first_active_month"].dt.date).dt.days
    
    df["hist_purchase_date_diff"] = (df["hist_purchase_date_max"] - df["hist_purchase_date_min"]).dt.days
    df["hist_purchase_date_average"] = df["hist_purchase_date_diff"]/df["hist_card_id_size"]
    df["hist_purchase_date_uptonow"] = (datetime.datetime.today() - df["hist_purchase_date_max"]).dt.days

    df["hist_first_buy"] = (df["hist_purchase_date_min"] - df["first_active_month"]).dt.days
    df["new_first_buy"] = (df["new_purchase_date_min"] - df["first_active_month"]).dt.days
    
    for col in ["hist_purchase_date_max","hist_purchase_date_min","new_purchase_date_max", "new_purchase_date_min"]:
        df[col] = df[col].astype(np.int64) * 1e-9
    df["card_id_total"] = df["new_card_id_size"] + df["hist_card_id_size"]
    df["purchase_amount_total"] = df["new_purchase_amount_sum"] + df["hist_purchase_amount_sum"]

In [21]:
add_features_main(train)
add_features_main(test)

In [22]:
train.head()

  first_active_month          ...          purchase_amount_total
0         2017-06-01          ...                    -179.212936
1         2017-01-01          ...                    -214.362061
2         2016-08-01          ...                     -29.867716
3         2017-09-01          ...                     -54.145737
4         2017-11-01          ...                     -68.613892

[5 rows x 115 columns]

In [23]:
test.head()

  first_active_month          ...          purchase_amount_total
0         2017-04-01          ...                     -42.510891
1         2017-01-01          ...                     -55.081211
2         2017-08-01          ...                       4.708978
3         2017-12-01          ...                     -19.434389
4         2015-12-01          ...                      37.204384

[5 rows x 114 columns]

In [ ]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)